body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #f0efe9;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.button {
  padding: 1rem;
  border-radius: 10px;
  background-color: #fcefb4;
  cursor: pointer;
  transition: 200ms;
}

.button input,
.button button {
  border: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: #d2d4ff;
}

.button-alt {
  padding: 1rem;
  border-radius: 10px;
  background-color: #161616;
  cursor: pointer;
  transition: 200ms;
}

.button-alt input,
button {
  border: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

.button-alt:hover {
  background-color: #fcefb4;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__inputs {
  display: flex;
  flex-direction: column;
}

.form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__inputs input {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 30px;
  width: 320px;
  border: none;
  border-radius: 5px;
}

.form__inputs label {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  color: #898995;
}

.form__button {
  margin-top: 1rem;
  display: inline-block;
  align-self: center;
}

.form__link {
  width: 320px;
  text-align: end;
  margin-top: 1rem;
}

.form__link a {
  color: black;
}

@media (max-width: 899px) {
  .container {
    padding: 1rem;
  }
}
